AZURE_STORAGE_CONNECTION_STRING=DefaultEndpointsProtocol=https;AccountName=stopbac1;AccountKey=kEIdvYqExN8I0CN/OppuOkaoT8jg2ADYR3jgU9IxKwlHf6ktJAAW+MDhWzFBUO+iQH/c+tAQcm5UiTk/4NewDg==;EndpointSuffix=core.windows.net