<!--call as    http://localhost:<portNumber>/  -->
<configuration>
    <system.webServer>
        <handlers>
            <add name="iisnode" path="index.js" verb="*" modules="iisnode" />
        </handlers>    
        <iisnode 
            loggingEnabled="true" 
            debuggingEnabled="true" 
            debuggerPathSegment="debug" 
            debugHeaderEnabled="true" 
            devErrorsEnabled="true"
            debuggerPortRange="5058-6058"  
            maxNamedPipeConnectionRetry="3"  
            namedPipeConnectionRetryDelay="2000"  
            nodeProcessCommandLine="C:\Program Files\nodejs\node.exe --trace-gc --trace_gc"
            nodeProcessCountPerApplication="1"
            logDirectory="C:\logs\fce\console"
        />
        <rewrite>
            <rules>
                <clear/>
                <rule name="DebugNode" stopProcessing="true">
                    <match url="index.js/debug*" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="None" />
                </rule>
				<rule name="sendToNode" stopProcessing="true">
                    <match url="/*" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="index.js" />
                </rule>
				<!--<rule name="sendToNode2" stopProcessing="true">
                    <match url="*" negate="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="index.js" />
                </rule>-->
            </rules>
        </rewrite>

    </system.webServer>
</configuration>

<!--
https://tomasz.janczuk.org/2011/08/hosting-nodejs-applications-in-iis-on.html
https://github.com/tjanczuk/iisnode
https://www.jokecamp.com/blog/getting-started-with-iisnode/
https://www.simplymigrate.com/2017/04/11/internet-information-server-iis-node-js-in-producton-iisnode/
https://www.hanselman.com/blog/InstallingAndRunningNodejsApplicationsWithinIISOnWindowsAreYouMad.aspx
https://harveywilliams.net/blog/installing-iisnode
https://stackoverflow.com/questions/46958685/how-to-setup-iisnode-with-express
https://stackoverflow.com/questions/21023622/iis-w3svc-error


<configuration><location path="nodejsapps"><system.webServer><handlers><add name="iisnode" path="*.js" verb="*" modules="iisnode" /></handlers>   
    </system.webServer></location></configuration>
-->